.square {
  width: 100px;
  height: 100px;
  background-color: #73dab2;
}

.flex {
  margin: 10px;
}

/* // EJERCICIO 1 */

.flexOne {
display: flex;
flex-direction: row;
}

.flexOne .square {
margin: 5px;
}

/* // EJERCICIO 2 */

.flexTwo {
display: flex;
flex-direction: column;
}

.flexTwo .square {
margin: 2px;
}

/* // EJERCICIO 3 */

.flexThree {
display: flex;
flex-direction: row-reverse;
justify-content: left;
}

.flexThree .square {
margin: 5px;
}

/* // EJERCICIO 4 */

.flexFour {
display: flex;
flex-wrap: wrap;
width: 350px;
}

.flexFour .square {
margin: 5px;
background-color: #3d8b6d;
}

/* // EJERCICIO 5 */

.flexFive {
display:flex;
width: 350px;
}

.flexFive .item {
background-color: #0b6643;
width: 100px;
height: 100px;
margin: 2px;
}

.flexFive #grow {
flex-grow: 2;
}

/* // EJERCICIO 6 */

.flexSix {
height: 400px;
width: 500px;
background-color: #f1f1f1;
display: flex;
flex-direction: column;
}

.flexSix .one {
display: flex;
justify-content: space-around;
}

.flexSix .two {
display: flex;
justify-content: space-between;
background-color: #d6d6d6;
}

.flexSix .three {
display: flex;
justify-content: space-evenly;
}

/* // EJERCICIO 7 */

.flexSeven {
height: 400px;
width: 500px;
display: flex;
justify-content: space-between;
}

.flexSeven .one {
display: flex;
flex-direction: column;
justify-content: center;
}

.flexSeven .two {
display: flex;
flex-direction: column;
justify-content: flex-end;
background-color: #d6d6d6;
}

.flexSeven .three {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.flexSeven .four {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #d6d6d6;
}

/* // EJERCICIO 8 */

.flexEight {
display: flex;
width: 400px;
background-color: #eeeeee;
height: 300px;
}

.flexEight .one {
display: flex;
align-items: center;
}

.flexEight .two {
display: flex;
align-items: flex-end;
}

.flexEight .three {
display: flex;
align-items: flex-start;
}

/* // EJERCICIO 9 */

.flexNine {
display: flex;
width: 450px;
height: 250px;
background-color: #eeeeee;
align-items: flex-start;
justify-content: space-evenly;
}

.flexNine #special {
align-self: flex-end;
}